main {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 0px auto;
  /* display: flex; */
  justify-content: center;
  margin-top: 10vh;
  min-width: 300px;
}

.container {
  margin-top: 10px;
  padding-bottom: 30px;
}

.container > h1 {
  font-size: 25px;
}

.container > p {
  margin: 0;
  padding: 0%;
}

.Foto--picture {
  width: 100%;
}


